

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5dc; 
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    font-size: 2.8rem;
    margin-top: 20px;
    color: #444;
}

h2 {
    font-size: 1.4rem;
    margin-top: 10px;
    color: #666;
}


.btn {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}


.btn-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.line-one, .line-two {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.yellow{
    background-color:#f99b45 ;
}

.red{
    background-color:#d95980 ;
}

.green{
    background-color:#63aac0 ;

}

.purple{
    background-color:#819ff9 ;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}
